$primary-bg: #fff;
$secondary-bg: #f8f8f8;
$background: #f5f5f9;
$color: #646464;

$span_color: #969896;
$shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
$border-color: rgba(58, 58, 58, 0.15);
$blue: #47992e; /// 47992e
$dark-blue:  #d9d9d9;
$space-grey: #343a40;
$dark-space-grey: #1b1b1b;
$hover-space-grey: #e1b412;
$active-space-grey: #ffcd12;
$space-space-grey: #e1b412;
$hover-blue: #196f7a;
$active-blue: #227e8a;
$space-blue: #47992e;
$danger: #ca3737;
$text: #000;
$fontSize: 16px;
$line-height: 24px;
$lite-ccc: #ccc;
$content-form: #ced4da;
$space-gray: #dddddd8c;
$space-gray2: #a1a1a1;
$pop-color: #565656;
$header-form: #dee2e6;
$icon_text: #b4b4b4;
$card-pr:#f1f1f6c7;
$card-bod:#e9e9f1;

$blue: #022f96;
$blue-dark: #092158;
$side-g: #f5f5f9;
$bolits-sid: #47992e;
// .
// .
// colors
$error: #e50000;
$success: #08629e;
$warning: #feb019;
$select: #574edc;



