<mat-form-field class="w-100" appearance="outline" [class.summary]="summary">
  <mat-label>{{label | translate}} <span *ngIf="isRequiredLabel && label" class="required"> *</span></mat-label>
  <input matInput [matDatepicker]="picker" [matDatepickerFilter]="filter" [placeholder]="placeholder | translate"
    [value]="value" (dateChange)="dateValueChanged($event)" [disabled]="disabled" [min]="minDate" [max]="maxDate"
    [readonly]="readonly">
  <mat-datepicker-toggle matSuffix [for]="picker">
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <!-- <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker> -->

</mat-form-field>
