.page-items{
    border-radius: 50px !important;
    padding: 5px;
    // background-color: rgb(242, 229, 229) !important;
}.page-items:active{
    box-shadow:0 10px 10px -12px;
    background-color:  rgb(242, 229, 229) !important;
}