.row-img {
  border-color: #666;
  border: 2px;

  height: 20vh;
  padding: 10px;
  border-radius: 30%;
}
.card-layout {
  height: 50vh;
  margin: 2%;
}
.card-body-container {
  height: 90%;
}
.badge{
  color: #128300;
  background-color: #ccc;
}
.fixed-card-header {
  max-height: 22%;
  min-height: 22%;
}
.textSpan {
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin-left: 7px;
}
#scroll-container {
  // border: 3px solid black;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
}
.rating-list li.selected {
  color: #ffd700;
}
.sr-only {
  display: none;
}
.ngb-rating {
  color: #ffc107;
  font-size: 80px;
}
#scroll-text {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
