<div class="flex flex-d fixed-table-header">
  <div class="header-section">
    <h2 class="bold-label"> {{'PRODUCTS.productsList'|translate}}</h2>
  </div>
  <div class="header-section">
    <div style="align-items: center;">
      <input type="text" (input)="searchAction($event)" class="form-control search-input"
        placeholder="{{'search'|translate}}">
    </div>
  </div>
  <div class="header-section">
    <button class="btn btn-primary" (click)="addNew()">
      <mat-icon style=" vertical-align: middle;">add_circle_outline</mat-icon>
    </button>
  </div>
</div>
<!-- <mat-icon class="pointer mx-2 example-tab-icon">add_circle_outline</mat-icon>  -->
<div class="grid grid-cols-1 grid-rows-2 gap-1" style="overflow-y: hidden;">
  <div class="col-span-4 row-span-2 md:col-span-3 lg:col-span-4 xl:col-span-3 sm:col-span-12">
    <div class="table-container example-container">
      <div *ngIf="dataList.length != 0">
        <table class="table-" mat-table matSort matTableResponsive [dataSource]="displayedList">
          <ng-container matColumnDef="image">
            <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
            <td class="grey-text" mat-cell *matCellDef="let element">
              <img *ngIf="!element.image" class="row-img col-md-8 col-sm-8"
                src="../../../../../assets/images/e-commerce.png">
              <img *ngIf="element.image" class="row-img" [src]="element.image">
              <p class="badge"> {{element.category |uppercase}} </p>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="grey-text" mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th class="tableHeader" mat-header-cell mat-sort-header *matHeaderCellDef>
              {{'PRODUCTS.description'|translate}} </th>
            <td style="width: 50%;
            text-align: left;
            padding: 5%;" class="grey-text" mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>


          <ng-container matColumnDef="title" >
            <th class="tableHeader" mat-header-cell mat-sort-header *matHeaderCellDef> {{'PRODUCTS.title'|translate}}
            </th>
            <td class="grey-text" mat-cell *matCellDef="let element"> {{element.title}}
             
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th class="tableHeader" mat-header-cell *matHeaderCellDef> {{'PRODUCTS.price'|translate}} </th>
            <td class="grey-text" mat-cell *matCellDef="let element"><p class="badge price-badge">{{element.price}} $</p> </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th class="tableHeader" mat-header-cell *matHeaderCellDef> {{'PRODUCTS.rating'|translate}} </th>
            <td class="grey-text" mat-cell *matCellDef="let element">
              {{element.rating?.rate}} <mat-icon class="selected-star pointer mx-2 example-tab-icon ">star</mat-icon>
              <span> ({{element.rating?.count}})</span>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="category">
            <th class="tableHeader" mat-header-cell *matHeaderCellDef> {{'PRODUCTS.category'|translate}} </th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container> -->

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <i (click)="closeSimpleModeEditeDataModel(element)" title="تعديل"> <mat-icon
                  class="edit pointer mx-2 example-tab-icon">edit</mat-icon> </i>
              <i class='' (click)="closeSimpleModeDelete(element)" title="مسح">
                <mat-icon class="edit pointer mx-2 example-tab-icon">delete_outline</mat-icon>
              </i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColums; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
        </table>
      </div>
      <div *ngIf="dataList.length == 0">
        <div *ngIf="noDataMessageOn ">
          <div class="alert alert-warning" role="alert">
            {{'noDataToShowMsg'|translate}}
          </div>
        </div>
        <div *ngIf="!noDataMessageOn" class="item">
          <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="flex items-center justify-end pagination-list">
        <div class="px-4">
          <div class="flex" style="align-items: baseline;">
            <app-pagination [arrayPagination]="arrTotalCount" [pageNumber]="page" (change)="updateIndex($event)"
              [totalItem]="totalCount" [totalpages]="" totalPages>
            </app-pagination>
            <label class="mt-2 mx-2">{{'Show'| translate}}</label>
            <select class="mx-2 ml-2 showPageSize form-select" aria-label="Default select example"
              (change)="handleChangePageSize($event)" [(ngModel)]="size">
              <option *ngFor="let i of dataPaginationPerSize">{{i.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>