<div class="modal-wrapper pt-56">
  <div class="text-2xl text-center modal-body">
    <div class="row pb-12">
      <div class="col-md-12">
        <div class="flex justify-content-center">
          <img class="mr-2" width="80px" src=".././../../../../assets/images/logout-svgrepo-com.svg">

        </div>
        <h1>{{'confirmLogout'|translate}}</h1>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="mb-2 btn btn-primary" (click)="logout()">
      {{'yes'|translate}}
    </button>
    <button class="mb-2 btn btn-default" (click)="closeModal()">
      {{'no'|translate}}
    </button>
  </div>
</div>
