<!-- <ng-template [ngIf]='!isReadOnly'> -->
<mat-form-field [appearance]="'outline'" class="w-100 " [class.summary-and-icon]="summary" style="height: 15px!important;">
  <!-- <mat-label class="pass-mat">{{label}}* <span *ngIf="isRequiredLabel" class="required">*</span></mat-label> -->
  <input  style="height:100%!important;" [disabled]="disabled" [minLength]="5" [maxLength]="10" matInput [placeholder]="placeholder" [type]="hide ? 'password' : 'text'"
    (input)="passValueChange($event)" [value]="Value">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<span class="errorMsg" *ngIf="!rePassword&& Value &&(Value?.length >10 || Value?.length <5)">{{'passwordLengthError'| translate}} </span>

<!-- </ng-template>
<ng-template [ngIf]='isReadOnly'>
  <mat-form-field [appearance]="appearance">
    <mat-label>{{label | translate}} <span *ngIf="isRequiredLabel" class="required"> *</span></mat-label>
    <input matInput [placeholder]="placeholder | translate" disabled (change)="passValueChange($event)" [value]="Value">
  </mat-form-field>
</ng-template> -->
