.modalTitle{
    color:#37A825;
    text-align: center;
}
.btn-s{
    color:#37A825;
    background-color: #e1f2df;
}
.addedName{
    border-color: #707070;
    border-radius: 10px;
    border-width: 1px;
    width: 90%;
}
td, th {
    padding: 10px 10px;
}